<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>
<body>
<div class="container">
	<header>
		<%= image_tag("logo.png", :alt => "Application exemple", :class => "round") %>
		<nav class="round">
			<ul>
				<li><%= link_to "Accueil", '#' %></li>
				<li><%= link_to "Aide", '#' %></li>
				<li><%= link_to "Login", '#' %></li>
			</ul>
		</nav>
	</header>
	<section class="round">
		<%= yield %>
	</section>
	<%= render 'layouts/footer' %>
</div>
</body>

</html>